<tr>
	<td><%= link_to 'Profile', user_path(user) %></td>
	<td>
		<% if user.avatar_image.present? %>
			<%= image_tag user.avatar_image.thumb('16x16').url, :class => "thumbnail" %>
		<% else %>
			<img src="http://placehold.it/16x16" alt="Default avatar" class="thumbnail">
		<% end %>
	</td>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.email %></td>
</tr>