<tr>
	<td><%= link_to 'Profile', user_path(user) %></td>
	<td>
		<%= render 'avatar_image', args: '16x16#', user: user %>
	</td>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.email %></td>
</tr>