<%= simple_form_for @user, :multipart => true do |f| %> 
	<div class="row">
		<div class="span4">
			<div class="thumbnail">
				<% if @user.avatar_image.present? %>
					<%= image_tag @user.avatar_image.url %>
				<% else %>
					<img src="http://placehold.it/400x400&text=Super+cool+avatar" alt="Super cool avatar">
				<% end %>
				<div class="caption form-inline">
					<%= f.hidden_field :retained_avatar_image %>
					<%= f.file_field :avatar_image %>
					<%= f.label :remove_avatar_image %>
					<%= f.check_box :remove_avatar_image %>
				</div>
			</div>
		</div>
		<div class="span8">
			<div class="well">
				<%= f.input :first_name %>
				<%= f.input :last_name %>
				<%= f.input :email %>
			</div>
			<div class="form-actions">
				<%= f.submit 'Save', :class => "btn btn-primary" %>
			</div>
		</div>
	</div>
<% end %>